<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">


<section layout:fragment="conteudo">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form class="form-horizontal" method="POST" th:action="@{/security/changepassword}" th:object="${user}">
				<!-- 		<div layout:include="MensagemGeral"></div> -->
				<!-- 		<div layout:include="MensagemErro"></div> -->

				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="clearfix">
							<h1 class="panel-title aw-user-panel">Troca de Senha</h1>
						</div>
					</div>

					<div class="panel-body">
						<input type="hidden" th:field="*{id}" />
						<div class="form-group">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>

						<div class="form-group" th:classappend="${#fields.hasErrors('username')} ? has-error">
							<div class="col-md-12">
								<input type="text" class="form-control" id="username" placeholder="E-Mail" th:field="*{username}"
									readonly="readonly" />
							</div>
						</div>

						<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? has-error">
							<div class="col-sm-12">
								<input type="password" id="password" class="form-control" placeholder="Senha" th:field="*{password}" />
							</div>
						</div>

						<div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')} ? has-error">
							<div class="col-sm-12">
								<input type="password" id="passwordConfirm" class="form-control" placeholder="Confirme sua senha"
									th:field="*{passwordConfirm}" />
							</div>
						</div>


						<div class="form-group">
							<div class="col-sm-12  col-md-offset-2">
								<button type="submit" class="btn btn-primary">Trocar Senha</button>
								<a class="btn btn-default" href="javascript:history.back()" role="button">Voltar</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
</html>