<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">


<head>
<meta http-equiv="refresh" content="3;url=/" />
</head>

<section layout:fragment="conteudo">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-proprietario-panel">Acesso não Autorizado</h1>
				<a class="btn btn-link aw-link-panel" th:href="@{/}">Início</a>
			</div>
		</div>
		<div class="panel-body">
			<h2 th:text="${msg}">Mensagem de Erro</h2>
		</div>
	</div>
</section>
</html>
