<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div class="row">
	<div class="col-sm-12">
		<a th:href="@{/}"> <img th:src="@{/images/citi.png}" class="logo"
			style="margin-left: 30px;" /> <img th:src="@{/images/logo1.jpg}"
			class="logo logo2" style="margin-right: 30px;" />
		</a>

	</div>
</div>




<nav class="navbar navbar-custom">
	<div class="container-fluid">
		<div class="navbar-header">

			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

		</div>


		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">
				<li><a th:href="@{/}">Apresentação <span class="sr-only">(current)</span></a></li>
				<!-- Navbar quando usuário  está autenticado -->
				<th:block sec:authorize="isAuthenticated()">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Cadastros <span class="caret"></span></a>
						<ul class="dropdown-menu">



							<li><a th:href="@{/proprietarios}">Proprietarios</a></li>
							<li><a th:href="@{/unidades}">Unidades</a></li>
							<li><a th:href="@{/taxas}">Taxas Condominiais</a></li>
							<li role="separator" class="divider"></li>
							<li><a th:href="@{/security/changepassword}">Troca de
									Senha</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Cobrança <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/cobrancas}">Listagem de Cobrança</a></li>
							<li><a href="#">Baixa Manual</a></li>
							<li><a href="#">Geração da Cobrança</a></li>
							<li><a href="#">Baixa Automática</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Emissão de Boletos </a></li>

						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Acordos <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Listagem de Acordos</a></li>
							<li><a href="#">Baixa Manual</a></li>
						</ul></li>
				</th:block>
				<!-- Fim da Navbar quando usuário  está autenticado -->

			</ul>



			<th:block sec:authorize="isAuthenticated()">
				<!--/* When using CSRF this needs to be a POST */-->
				<form th:action="@{/logout}" method="post"
					class="navbar-form navbar-right" title="Logout" rel="tooltip">
					<button class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
					</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<!-- Administrador Comum -->
					<li sec:authorize="hasAuthority('ADMIN')"><a
						th:href="@{/security/users}"> <span sec:authentication="name">username</span>
							| <span sec:authentication="principal.authorities">roles</span>
					</a></li>
					<!-- Usuario Comum -->
					<li sec:authorize="not(hasAuthority('ADMIN'))"><a
						th:href="@{/security/users/settings}"> <span
							sec:authentication="name">username</span> | <span
							sec:authentication="principal.authorities">roles</span>
					</a></li>

				</ul>
			</th:block>
			<th:block sec:authorize="!isAuthenticated()">

				<form th:action="@{/login}" method="get"
					class="navbar-form navbar-right" title="Login" rel="tooltip">
					<button class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
					</button>
				</form>
			</th:block>
		</div>
	</div>

</nav>



</html>
