<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">
    


<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
	   			<h1 class="panel-title aw-cobranca-panel">Cobrancas</h1>
	   			<a class="btn btn-link aw-link-panel" th:href="@{/cobrancas/novo}">Nova Cobranca</a>
	   		</div>
	   	</div>
	   	
	   	<div class="panel-body">
	   		<form method="GET" id="formfiltro" class="form-horizontal" th:action="@{/cobrancas}" th:object="${filtro}">
	   			<div class="form-group">
	   				<div class="col-sm-2">
	   					<div class="input-group">
	   						<input class="form-control" placeholder="Unidade a procurar..."
	   							autofocus="autofocus" th:field="*{unidade}"></input>
	   					</div>
	   					<div class="input-group">
	   						<span class="input-group-btn">
	   							<button type="submit" class="btn btn-default">
	   								<i class="glyphicon glyphicon-search"></i>
	   							</button>
	   							<button class="limpar btn btn-default "  type="reset">
	   								<i class="glyphicon glyphicon-refresh"></i>
	   							</button>
	   							<script>
	   								$('button.limpar').on('click', function() {
	   									$('#identificacao').attr('value','');
	   									$("#formfiltro").submit(); 
	   								});
	   							</script>
	   						</span>
	   					</div>
	   				</div>
	   			</div>
	   		</form>
	   		
	   		<div class="table-responsive">
		   		<table class="table table-bordered table-striped">
		   			<thead>
		   				<tr>
		   					<th class="text-center col-md-1">#</th>
		   					<th class="text-left col-md-1">Identificacao</th>
		   					<th class="text-center col-md-1">Proprietario</th>
		   					<th class="text-center col-md-1">Fator</th>
		   					<th class="text-center col-md-3">Obs</th>
		   					<th class="col-md-1">Ações</th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="cobranca : ${cobrancas}">
		   					<td class="text-center" th:text="${cobranca.idCobranca}">1</td>
		   					<td class="text-center" th:text="${cobranca.identificacao}">1</td>
		   					<td th:text="${cobranca.proprietario.nome}"></td>
		   					<td class="text-center" th:text="${cobranca.fator}">1</td>
		   					<td class="text-center" th:text="| ${{cobranca.obs}}|"></td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs" th:href="@{/cobrancas/{idCobranca}(idCobranca=${cobranca.idCobranca})}" 
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
		   								th:attr="data-codigo=${cobranca.idCobranca}, data-descricao=${cobranca.identificacao}, data-model='cobranca' "
		   								title="Excluir" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   						
		   					</td>
		   				</tr>
		   				<tr>
		   					<td colspan="6" th:if="${#lists.isEmpty(cobrancas)}">Nenhuma Cobranca foi encontrado</td>
		   				</tr>
		   			</tbody>
		   		</table>
		   	</div>
	   	</div>
	   	
	   	<div layout:include="DialogoConfirmacaoExclusao"></div>
	   
	   	
	</div>
</section>
</html>
